<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<body>

        <div class="row align-items-center rezime">
            <div class="col-md-3 rezimelogo">
                <img src="img/srbijaeglasanje.jpg" alt="Logo e-Glasanja" class="eglasanjelogo">
            </div>
            <div class="col-md-9 rezimetext">
            <div class="blurred-background"></div>
            <div class="text1">
                <h1>Dobrodošli na portal za elektronsko glasanje!</h1>
                <p>e-glasanje predstavlja bezbedan, brz i pouzdan način za online glasanje.</p>
            </div>
        </div>

        </div>


    <nav class="indexnavigation">
        <div>
             <ul>
                 <li class="nav-item">
                    <a class="nav-link" href="#about" style="background-color:#eb312a; color:white">O usluzi</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#questions" style="background-color:#3275b8; color:white">Česta pitanja</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#contact" style="background-color:white; color:black">Kontakt</a>
                    </li>
                </ul>
            </div>
    </nav>
    <main>
        <section id="about" class="py-5" style="margin-top:50px;">
            <div class="container100">
                <h2 style="margin-top:20px;">O usluzi <strong style="color:#eb312a; font:italic;">e-glasanje</strong></h2>
                <p class="pharagraf">
                    E-glasanje je inovativna platforma koja omogućava građanima brzo, sigurno i jednostavno elektronsko glasanje. Ovaj sistem smanjuje troškove i ubrzava izborni proces, dok istovremeno garantuje visoke standarde zaštite podataka i transparentnosti.

                    Korišćenjem e-glasanja, glasanje postaje dostupno svima, uključujući i one sa smanjenom pokretljivošću ili građane koji žive u inostranstvu. Sistem omogućava brže prebrojavanje glasova i odmah dostupne rezultate, čime povećava efikasnost i smanjuje resurse potrebne za tradicionalne metode glasanja.

                    e-glasanje ne samo da čini izborni proces bržim i jeftinijim, već doprinosi jačanju demokratskih vrednosti i građanske participacije, omogućavajući lakši pristup izborima i učešće u demokratiji.
                </p>
                <p class="pharagraf">
                    Kliknite na dugme u nastavku kako biste pristupili informacijama o privatnosti korisnika.
                </p>
                <div style="text-align:start">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">
                        <button class="buttonprivacy">
                            Podaci o privatnosti <i class="bi bi-shield-check"></i>
                        </button>
                    </a>
                </div>

            </div>
        </section>

        <section id="steps" class="py-5 bg-light">
            <div class="container100">
                <h2 style="color:darkgoldenrod; text-align:center; font-weight:800 !important">Kako funkcioniše?</h2>
                <ol>
                    <li>Registrujte se koristeći vašu identifikaciju.</li>
                    <li>Prijavite se na sistem u periodu glasanja.</li>
                    <li>Izaberite vaš izbor i potvrđite glas.</li>
                </ol>
            </div>
        </section>

        <section id="questions" class="py-5" ">
            <div class="container100">
                <h2 style="color:#3275b8; font-weight:800 !important; margin-bottom:30px;">Česta pitanja korisnika</h2>


                <div class="accordion" id="accordionExample" style="margin-left: -20px; margin-right:-20px;">

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Da li je moje glasanje anonimno?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong style="color:#3275b8; font:italic;">Da, portal za elektronsko glasanje je dizajnirano tako da garantuje anonimnost glasača.</strong> Vaš identitet se odvaja od vašeg glasa, a glasanje se dešava putem šifrovanog i sigurnog sistema. Niko, uključujući administratore sistema, ne može povezati Vaš glas sa Vašim identitetom.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Šta ako sam u inostranstvu – mogu li da glasam?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong style="color:#3275b8; font:italic;"> Da, možete glasati iz bilo koje zemnje na svetu, pod uslovom da imate pristup portalu za e-glasanje i posedujete potrebne identifikacione podatke. </strong>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Šta da radim ako slučajno unesem pogrešne podatke tokom registracije?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Ako ste uneli pogrešne podatke tokom registracije, obratite se tehničkoj podršci portala na e-mail adresu <strong style="color:darkgoldenrod; font:italic;">eglasanje@gmail.com</strong> . Oni će Vam pomoći da ispravite grešku, što može uključivati dodatnu verifikaciju identiteta.
                                <strong style="color:#eb312a; font:italic;"> U tom slučaju ukoliko greška ne bude ispravljena, Vaš glas se neće vrednovati! </strong>
                                </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                Šta da radim ako sam onemogućen da glasam?
                            </button>
                        </h2>
                        <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Ako ste onemogućeni da glasate, verovatno ste svoje pravo glasa već iskoristili. U slučaju da niste, prvo proverite da li ste registrovani sa validnim podacima i imate pristup portalu. Ako problem i dalje postoji, kontaktirajte tehničku podršku putem e-mail adrese <strong style="color:darkgoldenrod; font:italic;">eglasanje@gmail.com</strong>  radi rešavanja problema.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                Da li mogu promeniti svoj glas nakon što glasam?
                            </button>
                        </h2>
                        <div id="collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong style="color:#eb312a; font:italic;"> Ne, Vaš glas postaje konačan nakon što je zabeležen. </strong>Ovo je pravilo uvedeno kako bi se očuvala integritet glasanja.
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                Kako da budem siguran da je moj glas pravilno zabeležen?
                            </button>
                        </h2>
                        <div id="collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Nakon glasanja, sistem će Vam prikazati potvrdu da je Vaš glas uspešno zabeležen. Nakon što ponovo pristupite delu za glasanje videćete poruku o statusu Vašeg glasanja.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                Mogu li glasati više puta?
                            </button>
                        </h2>
                        <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong style="color:#eb312a; font:italic;">Ne, sistem za elektronsko glasanje je dizajniran tako da spreči višestruko glasanje.</strong> Svakom korisniku je omogućeno samo jedno glasanje po izboru ili referendumu.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                Šta da radim ako sam zaboravio lozinku?
                            </button>
                        </h2>
                        <div id="collapse8" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Ako ste zaboravili lozinku koju dobijate po registraciji na portalu, obratite se tehničkoj službi radi resetovanja Vaše lozinke, kontaktirajte službu putem e-mail adrese <strong style="color:darkgoldenrod; font:italic;">eglasanje@gmail.com</strong>.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

    <section id="steps" class="py-5 bg-light">
        <div class="container200" id="contact">
            <h2 style="color:darkgoldenrod; text-align:center; font-weight:800; margin-bottom:30px;">Kontaktirajte nas</h2>
            <form>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingName" placeholder="Npr: Marko Markovic">
                    <label for="floatingName">Ime i prezime</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Npr: imeprezime@gmail.com">
                    <label for="floatingInput">E-mail adresa</label>
                </div>

                <div class="form-floating">
                    <textarea class="form-control" placeholder="Ostavite poruku ovde" id="floatingTextarea" maxlength="500" style="resize:none;height:150px;"></textarea>
                    <label for="floatingTextarea">Poruka (maksimalno 500 karaktera)</label>
                </div>

                <div class="form-floating" style="margin-top:15px">
                    <select class="form-select" id="floatingSelect" aria-label="Izaberite nešto od ponuđenog" required>
                        <option value="" disabled selected>Izaberite stavku iz padajućeg menija</option>
                        <option value="1">Tehnički zahtev/pomoć</option>
                        <option value="2">Komentar</option>
                        <option value="3">Drugo</option>
                    </select>
                    <label for="floatingSelect">Svrha poruke</label>
                </div>



                <div id="emailHelp" class="form-text" style="margin-top:20px; text-align:center">
                    Vaši podaci koje ostavljate potpuno su sigurni i neće biti dalje deljeni!
                </div>
                <div style="text-align:center">
                    <button class="buttonsend">
                        Pošalji <i class="bi bi-send"></i>
                    </button>
                </div>
            </form>
        </div>
    </section>

    <div style="position:fixed; bottom:15px; left:15px;">
        <a>
            <button data-toggle="tooltip" data-placement="right" title="Glasajte" style="border-radius:50%; width:50px; height:50px; background-color:darkgoldenrod; border:none;box-shadow: 5px 5px 10px dimgrey; color:black">
                <i class="bi bi-feather"></i>
            </button>
        </a>
    </div>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>
</html>